{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
	<script type="text/javascript">
		function onRefresh(){
			alert("Click button");
		}
	</script>
</head>
<body>
	<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	<h1>Demo of VLC mozilla plugin - Example 1</h1>

	<!---
	<object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab" id="vlc">
	<embed type="application/x-vlc-plugin"
        	name="video1"
        	autoplay="yes" loop="yes" width="400" height="300"
        	target="rtsp://root:pass@192.168.77.140/axis-media/media.amp?videocodec=h264" />
	</object>
	<br />
  	<a href="javascript:;" onclick='document.video1.play()'>Play video1</a>
  	<a href="javascript:;" onclick='document.video1.pause()'>Pause video1</a>
  	<a href="javascript:;" onclick='document.video1.stop()'>Stop video1</a>
  	<a href="javascript:;" onclick='document.video1.fullscreen()'>Fullscreen</a>
	-->



	<object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab" width="400" height="300" id="vlc" events="True"> 
        <param name="Src" value="rtsp://root:pass@192.168.77.140/axis-media/media.amp?videocodec=h265"></param> 
        <param name="ShowDisplay" value="True" ></param> 
        <param name="AutoLoop" value="no"></param> 
        <param name="AutoPlay" value="yes"></param> 
        <embed type="application/x-google-vlc-plugin" name="vlcfirefox" autoplay="yes" loop="no" width="400" height="300" target="http://192.168.2.16:8089/webplayer/mediaResources/all/video/test.mpg"></embed> 
    	</object> 
	<div class="page-header">
		<h2>Hello world</h2>
	</div>
	<div>
	</div>
	<p>
	<button type="button" class="btn btn-lg btn-primary" onclick="onRefresh()">Refresh</button>
	<button type="submit" formaction="/admin" class="btn">Refresh 2</button>
	<button type="button" class="btn btn-lg btn-primary" onclick="onNext()">Next</button>
	<form action="/search/" method="get">
		<input type="submit" value="Search">
	</form>
	</p>
</body>
